/* 
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    color: white;
}

ul {
    list-style: none;
}

h3.title {
    color: #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: center;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin: 40px auto;
}

ul.grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*************** Start Header ********************/

header {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    color: #fff;
    padding: 35px 100px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    opacity: .6;
}

header a {
    opacity: 1;
}

header nav ul {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav li {
    margin: 0 6px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}


/********** Start Responsive part ****/

@media(max-width:1000px) {
    header {
        text-align: center;
        flex-direction: column;
        padding: 20px 50px;
    }
    header img {
        width: 75%;
    }
    header nav {
        justify-content: space-around;
    }
    header h2 {
        margin-bottom: 15px;
    }
}


/********* End responsive part ***************/


/*************** End Header ********************/


/******************** Start Hero ********************/

#hero {
    min-height: 100vh;
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1,
#hero h3 {
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}

#hero h1 {
    font-size: 62px;
    margin-bottom: 15px;
}

#hero a.btn {
    color: white;
    text-decoration: none;
    background-color: #131633;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border: 2px solid white;
}

#hero a.btn:hover {
    background-color: #2196f3;
}


/* Start Responsive */

@media(max-width:800px) {
    /* We do not want the image once the width is less then 800px to take all the page so we fixed the hight to 600px*/
    #hero {
        min-height: 600px;
    }
    #hero h1 {
        font-size: 36px;
    }
    #hero h3 {
        font-size: 18px;
    }
    #hero a.btn {
        padding: 15px 40px;
    }
    /** For the footer**/
    footer {
        padding: 80px 15px;
    }
}


/* End Responsive */


/*************** End Hero ********************************/


/********************** Start About *********************/

#about {
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

#about #two-cols {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    border: 4px solid #2196f3;
    background-color: #2196f3;
}

.about-bio {
    width: 65%;
    max-width: 800px;
    line-height: 150%;
    margin-left: 20px;
}


/** Responsive Part ***/

@media(max-width:800px) {
    #about,
    #two-cols {
        flex-direction: column;
    }
    .about-bio {
        margin-top: 20px;
        line-height: 125%;
        text-align: left;
    }
}


/********************** END  About *********************/


/********************** Start  Gallery *********************/

#gallery {
    background-color: #fff;
}

#gallery ul.grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-position: center;
    background-size: cover;
    background-color: #333;
}

#gallery ul.grid li.small {
    flex-basis: 40%
}

#gallery ul.grid li.large {
    flex-basis: 60%
}

#gallery p {
    max-width: 800px;
    text-align: center;
    line-height: 125%;
    margin: 0 auto 35px;
    padding: 0 20px;
}


/*** Start Responsive ***/

@media(max-width: 1000px) {
    #gallery .grid li.small,
    #gallery .grid li.large {
        flex-basis: 100%;
    }
}


/********************** END  Gallery *********************/


/********************** Start  Getting Araound ***************/

#getting-around {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#getting-around p {
    margin-bottom: 20px;
}

#getting-around ul.grid {
    margin-bottom: 60px;
}

#getting-around ul.grid li {
    flex-basis: 30%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 40px;
}

#getting-around ul.grid li .ico {
    font-size: 36px;
    color: #2196f3;
    margin-bottom: 20px;
}

#getting-around ul.grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

#getting-around ul.grid li p {
    text-align: left;
    margin: 0;
}

@media(max-width: 1000px) {
    #getting-around {
        padding: 0 40px;
    }
    #getting-around ul.grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    #getting-around ul.grid li p {
        text-align: center;
    }
}


/********************** End  Getting Around *****************/


/********************** Start Famous Quotes *****************/

#famous-quotes {
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 40px;
}

#famous-quotes img.portrait-photos:first-child {
    margin-top: 20px;
}

#famous-quotes img.portrait-photos {
    border-radius: 50%;
    border: 4px solid #2196f3;
    margin-bottom: 10px;
}

#famous-quotes p.quote {
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    padding: 0;
    margin-bottom: 20px;
}

#famous-quotes p.author {
    margin: 20px auto;
}

#famous-quotes .author:last-child {
    margin-bottom: 0;
}


/******* Start Responsive ***********/

@media(max-width: 1000px) {
    #famous-quotes p.quote {
        font-size: 18px;
        padding: 0 20px;
    }
    #famous-quotes p.author {
        font-size: 14px;
    }
}


/******* End Responsive *****/


/********************** End Famous Quotes *****************/


/********************** Start Contact *****************/

section.flexbox-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.flexbox-section p {
    max-width: 900px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 1.5;
}


/********************** End Contact *****************/


/* Start Footer */

footer {
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #284e7a, #000 100%);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
    margin-bottom: 25px;
}

footer ul li {
    margin: 0 8px;
}

footer a {
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}

footer p {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 6);
    margin-bottom: 10px;
}


/* END Footer */